html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*This general divider is horizontal*/
hr {
  width: 100% !important;
  height: 1px !important;
}

.paginator {
  text-align: center;
  background-color: aliceblue;
  margin-top: 1%;
}

.paginator ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.paginator li {
  display: inline-block;
  padding: 5px 5px;
  font-family: Roboto;
  font-weight: bold;
  color: darkslateblue;
}

.paginator li > a {
  outline: none;
  user-select: none;
}

.paginator li:hover {
  cursor: pointer;
  color: darkgray;
}

.paginator li.active {
  border: 2px solid mediumblue;
  background-color: white;
}
