html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*This general divider is horizontal*/
hr {
  width: 100% !important;
  height: 1px !important;
}

.paginator ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.paginator li {
  display: inline-block;
}
