.checkout {
  text-align: start;
  margin-left: 37.5%;
}

.textbox {
  width: 40.6%;
}

.textbox2 {
  width: 26.5%;
}

.textbox3 {
  width: 7.1%;
}

.textbox4 {
  width: 5%;
}

.iconsize {
  width: 4%;
  height: 3%;
}
