h1 {
  color: DodgerBlue;
  font-family: "Lucida Sans Unicode";
  text-align: center;
  font-size: 500%;
  text-shadow: 2px 2px LightBlue;
}
/*flex*/
.homepage {
  /*parent*/
  display: flex;
  flex-direction: row;
}

button {
  right: 25px;
  padding-right: 15px;
}
#buttons {
  display: block;

  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  color: black;
  padding: 10px 12px;
  font-size: 90%;
  text-align: center;
  text-decoration: none;
}

.navigation {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* style the search box */
.navigation input[type="text"] {
  /*float: center;*/
  float: left;
  padding: 10px;
  border: none;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 5px;
  font-size: 20px;
}

ul.suggestions {
  list-style: none;
}

li.inactive:hover {
  cursor: pointer;
  background-color: blue;
}

.active {
  background-color: blue;
}
